*{margin:0;padding:0;border: 0}
body{
	background-color:#FFFFF;
}

a{
	text-decoration:none;
}
p{
	text-align:justify;
}
.full_wrap{
	width:100%
}
 .wrap{
	width:1280px;
	display:block;
	margin:0 auto
}

/*Menu-------------------------------------*/
nav {
	background: #f4f4f4;
	font-family: tahoma;
	font-size:11px;
	position:fixed;
	z-index:99999;
}
a { text-decoration:none }
 
.clear:before,
.clear:after {
	content:" ";
	display: table
}
.clear:after { clear: both }
.arrow {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle
}
.arrow.down {
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}
.arrow.up {
	border-bottom: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}

nav {
	width: 100%;
	background: #6CC49B
}
nav .navbar {
	width: 95%;
	max-width: 1000px;
	margin:0 auto
}
nav a { color: #fff }




nav .logo_img{
	display:none;
}


nav .logo {
	float: left;
	    margin-top: 9px;
 	font-size: 15px;
	font-weight: bold
}



nav .menu-toggle {
	cursor: pointer;
	display: none;
	float: right;
	padding: 12px;
	margin: 10px 0;
	background: #62b38d;
	transition: background-color .5s
}
nav .icon-bar {
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px
}
nav .icon-bar + .icon-bar { margin-top: 4px }

nav .menu ul { float: right }
nav .menu li {
	float: left;
	list-style: none;
	border-left: 2px solid #62b38d
}
nav .menu li:first-child { border-left: 0 }
nav .menu li a,
nav .open-submenu {
	color: #fff;
	cursor: pointer;
	position: relative;
	display: block;
	padding: 12px 20px;
	transition: background-color .3s
}
nav .menu li a:hover,
nav .open-submenu:hover ,
nav .open-submenu.active,
nav .menu-toggle.active  {
	background: #FFBB22;
	transition: background-color .5s
}
nav .menu ul ul {
	z-index: 100;
	display: none;
	float: none;
	position: absolute;
	background: #FFBB22
}
nav .menu ul ul li {
	float: none;
	border: 0
}
nav .menu ul ul a:hover {
	background: #62b38d;
	transition: background-color .3s
}


@media(max-width: 1005px) {
	nav .logo { padding-top: 8px }
	nav .menu-toggle { display: inline-block }
	nav .menu { display: none; clear: both }
	nav .menu > ul { float: none }
	nav .menu li { width: 100%; border: 0 }
	nav .menu li:last-child { margin: 0 0 15px 0 }
	nav .menu li a,
	nav .open-submenu {
		display: block;
		background: #62b38d;
		padding: 10px;
		margin: 2px 0 0 0
	}
	nav .menu ul ul {
		position: static;
		background: transparent;
		display:none
	}
	nav .menu ul ul a { background: transparent }
	nav .menu ul ul a:hover { background: #FFBB22 }
}
	

	
	
	
	
	

 /*Menu End-------------------------------------*/


 
	
	
/*.section{
	background-color:#676A0D;
	 	
 }
 #section{
	border-left:1px solid #676A0D; 
	border-right:1px solid #676A0D; 
 } 
 
*/


 
					 
#content{
background-color:#040650; 
overflow:hidden;
}	
					
					
				

 .article1{
	 margin-top:124px;
	 margin-bottom:58px;
	 overflow:hidden;
 }
 .content_gap{
	 height:25px;
	  
	 margin-right:76px;
	 margin-left:50px;
	 background-color:#ffffff;
 }
  .article2{
	 margin-top: 50px;
	 margin-bottom:58px;
	 overflow:hidden;
 }
 
 
  
 .herotext {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
	color:#FFFfff ;
	
	
}
 


 .content_img img {
    
    height: 286px;
    margin-left: 50px;
    width: 270px;
	border: 1px solid #DDD;
    padding: 3px;
    float: left;
}

.content_speech{
	 width:200 px;
	 
	 color:#ffffff;
	 font-size: 19px;
    font-family: Arial;
	margin-left:362px;
	margin-right:76px ;
}
.content_speech h3{
	margin-bottom: 20px;
margin-top: 10px;
}
.lighter {
    font-weight: 100;
	font-size:30px;
}	
 
 
 
 
 
 /*ABOUT US*/
 
 
 
 
 
 
.about_us{
	overflow: hidden;
	background-color:#040650;
	
}
.section-title{
	 
	margin-top: 96px;
text-align: center;
color: #FFF;
font-size: 40##--9U6` px;
margin-bottom: 69px ;
}
 
.about_us_box{
 
	float: left;
	width: 25%;
    padding: 2%
	margin:20px;
	background-color:#fff;
	overflow:hidden;
	 margin:2%;
	padding-bottom: 0px;
}
.about_us_box img{
	 
	height:200px;
	margin-bottom: 53px;
    margin-top: 19px;
	width: 98%;
    padding: 0%;
}


.about_us_allbox{
	
   margin-left:  -4px;
margin-right: 0px; 
margin-bottom: 650px; 
}

 

.about_us_box h3{
	
display: block;
text-align:center;
    font-weight: 700;
 

} 

.section-title{
	font-size:  40px;
}
.text-center {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
	font-family: inherit;
	 
	
}
/*Hyperlink decoration.Button Button Button Button Button Button*/
.btn {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}
.btn-info, .label-info, .alert-info {
    background-color: #FFF;
    border-color: #FFF;
    color: #01B0D1;
}
.btn, .label {
    border-radius: 0px;
    transition: all 0.2s ease 0s;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

 /*End Hyperlink*/
 

 	
 .committee {
 background-color:#fff;
 overflow:hidden;
  
 }
  
 
 .committee h2 {
 padding-top: 130px;
text-align: center;
 font-size:30px;
margin-bottom: 80px ;  
}

.committee img{ 
	height:300px;
	width:250;
	
 /*margin:9px 47px 9px 387px*/
}

 .committee h3{ 
	 text-align: center;
	 font-size: 30px;
 }
 
 .committee p{ 
    text-align: center;
    margin-top:-8px; 
    font-size: 34px;
    font-weight: 500;
    text-align: center;
	font-family: inherit;
	margin-bottom:100px;
}

/*End*/









/*gallery  gallery gallery gallery*/
 
 
 
 
 
 
.gallery{
	overflow: hidden;
	background-color:#040650;
	
}
.gallery-title{
	 
margin-top: 96px;
text-align: center;
color: #FFF;
font-size: 25px;
margin-bottom: 69px ;
}
.gallery_box {
    float: left;
    padding: 32px;
    margin: 16px;
    background-color: #FFF;
    overflow: hidden;
    width: 297px;
} 
 
.gallery_box img {
    height: 200px;
    margin: 5px;
    width: 287px;
    margin-bottom: 25px;
}

.gallery_allbox {
	background-color#fff;
    margin-left: 50px;
    margin-right: 50px;
}
 
.gallery_box h3{
	font-size: 24px;
display: block;
text-align:center;

} 



.gallery_text-center {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
	font-family: inherit;
	 
	
}
 
 /*End--------------------------------*/
 
 /*
.academics {
    margin-top: 150px;
    background-color: #FFF;
    height: 123%;
}
.academics_all_box {
    padding-top: 10%;
    padding-bottom: 10%;
}
.academics_titel {
    background-color: #040650;
    color: #FFF;
    float: left;
    width: 2%;
    margin-left: 33%;
    padding: 1.7%;
}
.academics_box {
    background-color: #040650;
    margin: 0% 28% 8.75% 38%;
}
.academics a {
    color: #FFF;
    margin-left: 25%;
}
 */
.academics{
	background-color: #FFF;
margin-top: 150px;

 }
 .academics_all_box {
    padding-top: 15%;
    padding-bottom: 3%;
}
 .academics_titel {
   
   background-color: #040650;
color: #FFF;
padding: 14px;
float: left;
width: 38px;
margin-left: 20%;
height: 294px;
}
 .academics_box{
     background-color: #040650;
margin: 0px 29% 80px 24%;
	  
 }
.academics a {
    color: #FFF;
    margin-left: 105px;
}
.academics h2 {
    padding:  12px;
}
 /*End-------------------------------------*/
 
 
 
 
 
 
 
 .events{
	 margin-top: 25%;
margin-bottom: 25%;
	 color:#fff;
	 text-align:center;
 }
 .events h1{
	 font-family:arial;
	 margin-bottom:30px;
 }
 .events h3 {
    background-color: #FFF;
    color: #000;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1%;
}
 
 
 /*End-------------------------------------*/
 
 
 
 
 
 #footer{
	 background-color:#A3DBA5;
	padding:30px;
	  
	   
 }
 #footer p{
	 text-align:center;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /*Responsive--------------------------------------*/
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /*		Default Layout: 1280px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/
@media only screen and (max-width: 1280px) {
.wrap{
	width:1280px;
	display:block;
	margin:0 auto
}



}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.wrap{
	width:100%;
}
 










 
	
	
	
}













/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
.wrap{
	width:100%;
}
 
 
#content{
	width:100%;
}
 

 .content_img{
	 
width:100%;
 }



	
}










/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.wrap{
	width:100%;
}
.about_us_box {
     
    width: 46%;
 
}
 .committee {
     
    margin-top: 12%;
}
 
 
}






@media only screen  and (max-width: 480px) {

.wrap{
	width:98%;
}
.about_us_box {
    width: 75%;
	margin-left: 13%;
}


} 
 
 




/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	

.wrap{
	width:100%;
}


  .wrap{
	width:100%;
}
.academics_box {
    margin: 0px 2% 75px;
}
.academics h2 {
    font-size: 16px;
    padding: 8px;
}
.academics a {
    color: #FFF;
    margin-left: 31%;
}
.academics_titel {
    margin-left: 2%;
    padding: 0px;
}
 .academics_titel h2 {
    font-size: 18px;
    margin: 24px 0px 20px 3px;
}	
 
.content_img{
	
     width:100%;
	 height: 90%;
	  
}
  
 

.content_img img{
	width:80%;
     margin-left:10%;
	margin-right:10% ;
	 float:none;
	 margin-right:76px ;
	 height: 90%;
}


.content_speech{
	  
	 color:#ffffff;
	 font-size: 120%;;
    font-family: Arial;
	margin-left:10%;
	margin-right:10% ;
}


.content_gap{
	margin-left:10%;
	margin-right:10% ;
 }
  
  
 .committee img {
    width: 85%;
    height: 0%;
}
  
 .committee h2 {
    padding-top: 10%;
     font-size: 143%;
    margin-bottom: 8%;
}
  
 .committee h3 {
    text-align: center;
    font-size: 130%;
} 
  
 
 .committee {
     
    margin-top: 12%;
}
  
 .about_us_box {
    width: 75%;
	margin-left: 13%;
}
	
	
	
}







 
 
 
 
 
 @media only screen and (min-width: 100px) and (max-width: 600px) {

 

.wrap{
	width:100%;
}
.content_img{
	
     width:100%;
	 height: 90%;
	  
}
  
 

.content_img img{
	width:80%;
     margin-left:10%;
	margin-right:10% ;
	 float:none;
	 margin-right:76px ;
	 height: 90%;
}


.content_speech{
	  
	 color:#ffffff;
	 font-size: 120%;;
    font-family: Arial;
	margin-left:10%;
	margin-right:10% ;
}


.content_gap{
	margin-left:10%;
	margin-right:10% ;
 }
  
  
 .committee img {
    width: 85%;
    height: 0%;
}
  
 .committee h2 {
    padding-top: 10%;
     font-size: 143%;
    margin-bottom: 8%;
}
  
 .committee h3 {
    text-align: center;
    font-size: 130%;
} 
 
 
 
 .committee {
     
    margin-top: 12%;
}
.gallery_box {
    padding: 8%;
    width: 80%;
    margin: 2% 2% 10%;
}
.gallery_box img {
    height: 53%;
    width: 100%;
    margin: 0%;
}

  
  
} 


 
 
 @media only screen and (min-width: 767px) and (max-width: 1260px) { 
 
 
 
.wrap{
	width:100%;
}

  
.about_us_box{
  
	width: 25%;
    padding: 2%
	 
	 margin:2%;
	 
}
.about_us_box img{
	 
	 
	width: 98%;
    padding: 0%;
}
 
 
 
 
  .gallery_box {
     padding: 4%;
    margin: 16px;
    width: 37%;
}
.gallery_box img {
    height: 70%;
    width: 100%;
    margin: 0%;
}

  }
  
  
  
  
  
 @media only screen  and (max-width: 767px) {

 

.wrap{
	width:100%;
}
 .gallery_box {
    padding: 8%;
    width: 80%;
    margin: 2% 2% 10%;
}
.gallery_box img {
    height: 53%;
    width: 100%;
    margin: 0%;
}

  }
  
  
  
  
 @media only screen and (min-width: 480px) and (max-width: 702px) { 
 .wrap{
	width:100%;
}
.academics_titel {
     padding: 2px;
    margin-left: 5%;
	width:53px;
     
}
.academics_box {
    background-color: #040650;
    margin: 0px 7% 71px 5%;
}
 }	


 
@media only screen and (min-width: 238px) and (max-width: 480px) { 
 .wrap{
	width:100%;
}
.academics_box {
    margin: 0px 2% 75px;
}
.academics h2 {
    font-size: 16px;
    padding: 8px;
}
.academics a {
    color: #FFF;
    margin-left: 31%;
}
.academics_titel {
    margin-left: 2%;
    padding: 0px;
	    height: 258px;
 
}
 .academics_titel h2 {
    font-size: 18px;
    margin: 24px 0px 20px 3px;
}	
}
 
@media only screen   and (max-width: 240px) { 
 .wrap{
	width:100%;
}
.academics { 
display:none;
}
}



